@mixin ss-no-click {
  pointer-events: none;
  user-select: none;
}

.ss-container {
  position: relative;
  width: 100% !important;
  height: unset;
  border: 0;
  padding: 0;
}
.ss-control {
  display: flex !important;

  width: 100% !important;
  height: unset;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@mixin ss-summary {
  @include ss-no-click;

  color: $input-color;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: left;
}

.ss-summary-multiple {
  @include ss-summary;

  max-width: 97%;
  margin-top: -3px;
  margin-left: -2px;
  margin-bottom: -3px;
  flex-wrap: wrap;
}
.ss-summary-single {
  @include ss-summary;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ss-summary-item {
  @include ss-no-click;

  white-space: nowrap;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ss-summary-item-multiple {
  @include ss-summary-item;

  margin: 2px 4px 2px 2px;

//  color: theme-color-level("primary", $alert-color-level);
//  background-color: theme-color-level("primary", $alert-bg-level);

  border-radius: $border-radius;
//  border: 1px solid theme-color-level("primary", $alert-border-level);
  border: 1px solid $gray-500;
}
.ss-summary-item-single {
  @include ss-summary-item;
}
.ss-summary-more {
  color: $text-muted;
  background-color: unset;
  border-color: transparent;
}

.ss-caret {
  margin-left: auto;
  color: $dark;
}
.ss-marker {
  color: $text-muted;
  padding-right: 0.25rem;
}
.ss-popup {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 45vh;
  max-width: 90vw;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.ss-popup-top {
  top: unset;
  bottom: 100%;
}
.ss-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ss-item-selected {
  color: theme-color-level("primary", $alert-color-level);
  background-color: theme-color-level("primary", $alert-bg-level);
//  border: 1px solid theme-color-level("primary", $alert-border-level);
}
.ss-blank {
  color: $text-muted;
}
.ss-item-muted {
  color: $text-muted;
}
.ss-item-text {
  @include ss-no-click;
}
.ss-item-desc {
  @include ss-no-click;
  color: $text-muted;
}
.ss-message-item {
  @include ss-no-click;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ss-sticky-item {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
}
.ss-input-item {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.ss-input {
}
.ss-no-click {
  pointer-events: none;
  user-select: none;
}

/*
 .ki-caret-container {
     margin-top: 140%;
     margin-bottom: 100%;
 }
 .ki-caret-down {
     width: 0;
     height: 0;
     border-left: 0.35rem solid transparent;
     border-right: 0.35rem solid transparent;
     border-top: 0.35rem solid #232323;
 }
 .ki-w-0 {
     width: 0;
 }
 .ki-w-100 {
     width: 100%;
 }
*/
